.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px;
}

.form__button:active {
  outline: 2px solid black;
  border-radius: 2px;
}

.form__input {
  padding: 10px;
  border: 1px solid #ddd;
}
