.section {
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
}

.section__header {
  font-size: 20px;
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.section__header--withButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 767px) {
  .section__header--withButtons {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
}

.section__tittle {
  margin: 0;
  font-size: 20px;
}

.section__container {
  padding: 20px;
}

.section__buttons {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.section__button {
  background: none;
  border: none;
  color: rgb(0, 128, 128);
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  transition: color 0.5s;
  user-select: none;
}

.section__button:hover {
  transition: 1s;
  color: rgb(1, 180, 180);
}

.section__button:disabled {
  color: rgb(204, 204, 204);
  cursor: default;
}
