html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: 20px;
  background-color: #eee;
  word-break: break-word;
}
